---
layout: default
title: Gallery
---

<h1>IBW High School Printmaking Class Gallery</h1>

<div class="gallery-grid">
  {% for image in site.static_files %}
    {% if image.path contains '/assets/images/' %}
      <div class="gallery-item">
        <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}" loading="lazy">
        <h2>{{ image.name }}</h2>
        <p class="description">Description for {{ image.name }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const modal = document.getElementById('imageModal');
      const modalImg = document.getElementById('modalImage');
      const captionText = document.getElementById('caption');
      const closeBtn = document.getElementsByClassName('close')[0];
    
      document.querySelectorAll('.gallery-item img').forEach(img => {
        img.onclick = function() {
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = this.alt;
        }
      });
    
      closeBtn.onclick = function() {
        modal.style.display = "none";
      }
    });
    </script>
    
    <div id="imageModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="modalImage">
      <div id="caption"></div>
    </div>