---
layout: default
title: Store
---
<head>
  <link rel="slyle" href="styles.css">
</head>
<body>
  <img src="assets/other-images/store-qr-code.png" alt="alternatetext" style="width:500px; max-height:500px;"class="left">
  <div class="bodytext">
    <p style="font-size: 46px;">Place an order for one of our prints from the collection. Order times vary from 2- 8 business days depending on stock. Expect a notification from the IBW Printshop. Posters printed on white 12" x 16". 

    </p>
    <p>Our student-run IBW PRINTSHOP is an intermediate Applied Arts Pathway course class called Print Media. The class is designed for motivated students wanting to gain direct experience in screenprinting, graphic design, and learning how to manage professional print projects. Students have time for passion projects as well as making products for the community. One goal for this course is to reach out to the local community and find projects to help our local businesses and groups with their printing needs. Students will earn their prescribed Work-Based Learning credits. 

    </p>
  </div>
  <div class="store-grid">
    {% for image in site.static_files %}
      {% if image.path contains '/assets/store-images/' %}
        {% assign image_name = image.path | split: '/' | last %}
        <div class="store-item">
          <div class="thumbnail-container">
            <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}" loading="lazy">
          </div>
          {% if site.data.design_descriptions[image_name] %}
            <p class="design-description">{{ site.data.design_descriptions[image_name] }}</p>
          {% else %}
            <p class="design-description"> </p>
          {% endif %}
          <div class="button-group">
            {% assign encoded_description = site.data.design_descriptions[image_name] | url_encode %}
            {% assign base_url = "https://docs.google.com/forms/d/e/1FAIpQLScYGlfywQj0SQPznoncpW7Nf9E-D4wT_0Zvys8gjToG2ZngCg/viewform?usp=pp_url" %}
            <a href="{{ base_url }}&entry.612975358=Shirt&entry.1687468573={{ encoded_description }}" class="button" target="_blank">Shirt</a>
            <a href="{{ base_url }}&entry.612975358=Bag&entry.1687468573={{ encoded_description }}" class="button" target="_blank">Bag</a>
            <a href="{{ base_url }}&entry.612975358=Print&entry.1687468573={{ encoded_description }}" class="button" target="_blank">Poster</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</body>
