<footer>
    <div class="footer-content; bodytext" style="color:#999;">
      © {{ site.time | date: '%Y' }} IBW High School Printmaking. All rights reserved. 
      
      <a href="mailto:printmakingibw@gmail.com" style="color:#e6d3ba;">Contact Us   
      </a> 

      <a href="https://www.instagram.com/ibwprintmaking/" style="color:#e6d3ba;">
        <!--<img src="assets/images/instagram.png" alt="instagram" 
        width="20" 
        height="20">--> Instagram

      </a>

    </div>
  </footer>